header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    
}

.container {
    width: 80%;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    color: #e6b362;
}

.hero {
   
    color: #2d2d2d;
    padding: 60px 0;
   
}

.hero h2 {
    margin: 0;
}



body.Musique section.hero {
    background-color: #c6ffdd; /* Nouvelle couleur pour la page musique, par exemple vert */
    color: black; /* Couleur du texte sur la page musique, pour le contraste */
} 

body.Gastronomie section.hero{
    background-color: rgb(221, 236, 165);
    color: black;
}

body.Mode section.hero{
    background-color: #fbd786;
    color: black;
}

body.Films section.hero{
    background-color: #f7797d;
    color: black;
}

body.Histoire section.hero{
    background-color: #9575cd;
    color: black;
}


body.Musique {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

header, section, footer {
    margin: 20px;
}

h2  {
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

audio {
    width: 100%;
    margin-top: 10px;
}


table {
    border-collapse: collapse;
    color: white;
    width: 30%; /* La table doit occuper 100% de la largeur de son conteneur */
    }
    


td {
    border: none;
    padding: 8px;
    color: white;
}

footer {
    color: white;
}





#bag table {
    border-collapse: collapse;
    color: white;
    width: 30%;
    margin-right: 20px;
    flex: 1;
}

#bag td {
    border: none;
    padding: 8px;
    color: white;
}

td {
    border: 1px solid white; /* Ajoutez une bordure pour séparer les cellules */
    padding: 20px;
    
}

.table-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


.table-container {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}



body#style {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

header.modèles {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

section {
    padding: 20px;
    text-align: center;
}

.country {
    margin-bottom: 20px;
}

h2.country{
    color: black;
}

.country img {
    width: 30%;
    height: 25%;
    border: 2px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
   
}

.country img:hover {
    transform: scale(1.1);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}

 #bag{
    display: flex ;
    flex-direction: row;
    
 }

 br i{
    text-align: center;
 }

 header.modèles {
    color: white;
    text-align: center;
    padding: 20px 0;
}

div.country h2{
    font-size: 30px;
}


section {
    margin: 20px;
}

/* Style des titres de section */
h2 {
    color: white; /* Couleur foncée pour le contraste avec le fond */
}

/* Style des paragraphes dans la biographie */
section p {
    margin-bottom: 15px;
}

/* Style des listes d'albums */
ul {
    list-style-type: none;
    margin-left: 20px;
}

/* Style des éléments de liste */
li {
    margin-bottom: 10px;
}


h1#art{
    text-align: center;
    color: white;
    padding: 10px 0;
}

h1#none{
    text-align: center;
    color: white;
    padding: 10px 0;
}

h2.dev{
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
}

video {
    width: 100%;
    height: auto;
}

.video-container {
    display: flex;
    overflow-x: auto;
}

.video {
    margin-right: 20px;
}

.video img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.video img:hover {
    transform: scale(1.1);
}

audio {
    width: 100%;
}

a:hover{
    color: #fbd786;
}



.Gastronomie {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}


.food {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: #fff;
}

.miam{
    text-align: center;
    color: white;
    text-decoration: underline;

}

.tess{
    text-align: center;
}

.bag.al{
    font-size: 30px;
}

.country#flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.yes{
    text-align: center;
    margin: 0;
    padding: 10px;
}

.br{
    text-align: center;
}






body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333 ;
    color: black;
}

header {
    background-color: black;
    color: #ecf0f1;
    text-align: center;
    padding: 20px 0;
}

section {
    margin: 20px;
}

.Legendes {
    color: white;
    text-decoration: underline;
    font-size: 25px;
}

p {
    line-height: 1.6;
}

footer {
    background-color: black;
    color: #ecf0f1;
    text-align: center;
    padding: 10px 0;
}


